<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.courses.coursesocial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
            android:name=".FeedbackTab"
            android:label="@string/title_activity_feedback_tab" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
            android:name=".FeedbackGen"
            android:label="@string/title_activity_feedback_tab" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
            android:name=".UnivList"
            android:label="@string/title_activity_univ_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!--
        <activity
            android:name=".SelectCourseDialog"
            android:label="@string/title_activity_select_course_dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".SuggestedCourses"
            android:label="@string/title_activity_suggested_courses" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FilterCoursesDialog"
            android:label="@string/title_activity_filter_courses_dialog"
            android:theme = "@android:style/Theme.Holo.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
    </application>

</manifest>